@import 'header';
@import 'header';
@import 'mixins';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
    font-family: 'Montserrat';

}

body {
    background: #f4f4f4;
    font-family: "Poppins";
    min-width: 100%;
}


.down-nav {
    display: block;
    position: fixed;
    top: calc(100% - 70px);
    background: #ffffff;
    min-width: 100%;
    padding: 1rem 0;
    @include box-shadow(0px, 0px, 9px);
    ul {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        list-style: none;

        li {
            a {

                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                font-size: 1.2rem;

                p {
                    // font-family: 'priola';
                    font-size: 10px;
                    margin-top: 2px;
                }
            }
        }
    }
}
nav {
    display: none;
}

.hamburger {
    margin-left: auto;
    .fa-bars {
        font-size: 1.4rem;
    }

    cursor: pointer;
    padding: .5rem;
}

.close {
    display: none;
}

a {
    text-decoration: none;
    color: #002112;
    font-size: 16px;
    font-weight: 600;
}

.secondary {
    border: 1px solid rgb(0, 81, 255);
    border-radius: 2rem;
    padding: 0 .5rem;
    font-weight: 900;
    transition: ease .5s;

    &:hover {
        background-color: rgb(0, 81, 255);

        a {
            color: #ffffff;
        }
    }
}

ul {
    list-style: none;
}


@import 'media';