@import 'header';
@import 'header';
@import 'mixins';
@import 'custom';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    background: #f4f4f4;
    font-family: "Poppins";
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.section-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: .5rem;

    section {
        background: #ffffff;
        padding: 1.4em;
        border-radius: .5em;
        @include box-shadow(2px, 2px, 5px);
    }
}

@import 'footer';
@import 'media';